/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}




.col-text {
    padding:0px 10px 0px 0px;
    width:18%;
margin-left:17%;
text-align:center;
color:rgb(1, 55, 40);
}
/* main theme start */

body
{ 
background:rgb(230, 212, 187);
overflow-y:scroll;
 }

.well {
  border-radius: 25px;
  padding: 15px;
}

.portfolio-item {
  margin-left: 2em;
  margin-right: 2em;
}

.navtext {
  width:8em;
  height:3em;
  margin-top: -4.5em;
  opacity: 0.5;
  color: black;
  margin-left: 3em;
  font-weight: bold;
}

.logo
{ 
margin-top:-2em;
margin-left:0em;
background-color: #c09748;
 }

#searchForm {
  margin-top: -15px;
  border-radius: 5px;
}

.head
{ 
border-style:groove;
border-left:none;
border-top:none;
border-right:none;
border-bottom-color:rgb(206, 228, 206);
margin-top: 20px;
height:25px;
 }


.container-fluid
{ 
 background-color: rgb(230, 212, 187);
}


/* image thumbnail */
.thumb { 
    display: block;
    width:100%;
    height:auto;
         /*width: 118%;
height: 235px;*/
         
}
.side-nav
{
margin-left:-24.1em;
background-color: #c09748; 
margin-top: 14em;
 }
 .navImg{
   height: 85px;
   width: 200px;
 }
.news-thumb
{ 
text-align:justify;
/*margin-left:41%;
text-align:justify;
margin-top:-22%;
display:-moz;
-moz-margin-top:-70%;*/
 }

.news-thumb1
{ 
text-align:justify;
/*margin-left:16%;
margin-top:-22%;
-moz-margin-top:-88%;*/
 }
.news-list1
{ 
border-top:1px solid;
font-size:23px;
padding-left:5px;
padding-right:5px;
margin-right: 40px;
 }
.news-list2
{ 
border-top:1px solid;
font-size:23px;
margin-right:40px;
padding-left: 5px;
padding-right: 5px;

 }
.news-list {
  margin-left: -10em;
}
.news-wrapper2 {
  margin-left: -33px;
  margin-top: 2em;
}
.news-wrapper1 {
  margin-top: 2em;
}

#h1
{ 
font-size:23px;
color:#708005;
font-weight: bold;
 }
 a {
   color: rgb(171, 37, 37) ;

 }
#change-text
{
margin-top:-1em;
font-size:27px;
text-shadow:4px 5px 10px rgb(121, 89, 89);
font-weight:bolder;
color: #797676;
 }
.home
{ 
margin-top:-38%;
 }
/* main theme end */
.well {
  border-radius: 25px;
  padding: 15px;


}

.navtext {
  width:8em;
  height:3em;
  margin-top: -4.5em;
  opacity: 0.5;
  color: black;
  margin-left: 3em;
  font-weight: bold;
}

.logo
{ 
/*margin-top:0%;
margin-left:2em;*/
 }

#searchForm {
  margin-top: -15px;
  border-radius: 5px;
}

.head
{ 
border-style:groove;
border-left:none;
border-top:none;
border-right:none;
border-bottom-color:rgb(206, 228, 206);
margin-top: 2em;
height:25px;
 }



a.list-group-item { 
    height:auto;
    min-height:220px;
                    }
a.list-group-item.active small { 
    color:#fff;
                                 }                      
.stars { 
    margin:20px auto 1px;    
         } 
.home1
{ 
/*margin-left:24%;
margin-top:-34%;*/
 }
.col-text1
{ 
padding-right:5px;
padding-left:5px;
 }
.events
{ 
text-align:justify;
overflow-y: scroll;
height:18em;
margin-left: -1em;
/*width:14%;
text-align:justify;
margin-top:-22%;
margin-left:75%;*/
 }

.countries
{ 
font-size:20px;
color:blue;
 }
.countries1
{ 
font-size:20px;
 }

.subscribeForm
{ 
width:100%;
border-radius: 5px;
 }
.article-news
{ 
/*margin-top:2%;*/
 }
.articles
{  
margin-top:-38%;
margin-left:12%;
 }

.articles1
{ 
margin-bottom:1%;
 }
.articles-text
{ 
margin-left:41%;
margin-top:-39%;
 }
.articles-image
{ 
margin-left:25%;
margin-top:-39%;
 }
.interview
{ 
  margin-top:-105%;
margin-left:326px;
text-align:justify;
 }
.form
{ 
margin-left:25%;
width:16%;
 }
.social
{ 
margin-left:41%;
margin-top:-3%;
 }
.contributors
{ 
/*margin-left:24%;
margin-top:-105%;*/
 }
.contributors-content
{ 
text-align:justify;
margin-top: 2em;
margin-bottom: 2em;
margin-left: -1em;
 }
.img-responsive
{ 
height:auto;
width:100%;
margin-bottom:2em;
margin-top: 2em;
 }
.img-responsive1 { 
                   width:43%;
                  height:160px;
margin-bottom:7%;
}
.contributors-content1
{ 
margin-left:-33%;
text-align:justify;
padding-left:18%;
margin-top:-2%;
margin-bottom:6%;
 }
.portfolio-img
{ 
width:150px;
height:200px;
 }
.portfolio
{ 
margin-left:25%;
margin-top:-105%;
 }
.portfolio-item2
{ 
margin-left:33%;
margin-top:-25%;
 }
.portfolio-item3
{ 
margin-left:66%;
margin-top:-25%;
 }
.portfolio2
{ 
margin-top:3%;
 }
.portfolio-item21
{ 
margin-left:25%;
 }
.portfolio-item22
{ 
margin-left:50%;
margin-top:-19%;
 }
.portfolio-item23
{ 
margin-left:75%;
margin-top:-19%;
 }
.about
{ 
padding-top:10px;
 }
/* Style to article Author */
.by-author { 
             text-align:justify;
             line-height: 1.3;
             color: black;
             padding-left:5px;
             padding-right:5px;
             }

/* Main Article [Module]
-------------------------------------
* Featured Article Thumbnail
* have a image and a text title.
*/
.featured-article { 
                    
                    position: relative;
                    margin-top: 1em;
                    /*margin-bottom: 2em;
                    margin-top:-50%;*/
}

.featured-article .block-title { 
                                 /* Position & Box Model */
                                 position: absolute;
                                 bottom: 0;
                                 left: 0;
                                 z-index: 1;
                                 /* background */
                                 background: rgba(0,0,0,0.7);
                                 /* Width/Height */
                                 padding: .5em;
                                 width: 100%;
                                 /* Text color */
                                 color: #fff;
                                 }

.featured-article .block-title h2 { 
                                    margin: 0;
                                    
                                    }

.nav-tabs>li>a
{ 
margin-right:20px;
font-weight:bold;
color:black;
 }

 
.media-body
{
  height:25em;
  margin-top:1em;
  margin-left:-1em;
/*margin-left:28%;
margin-top:-50%;*/
 }
/*@media(max-width: 240px)
{
.logo
{  
margin-top:-9%;
  }
.navigations
{ 
margin-left:22%;
 } 
.home1
{ 
margin-top:38%;
 }
.media-body
{ 
margin-left:2%;
 }
.news-thumb1
{ 
margin-left:16%;
 }
.news-thumb
{ 
margin-left:20%;
 }

 }
@media (max-width: 320px)
{
.news-thumb1 
{ 
margin-top:-7%;
 }
.news-thumb
{ 
margin-top:-7%;
margin-left:18%;
 }
.media-body
{ 
margin-left:0%;
margin-top:0%;
 }
.article-news
{ 
margin-bottom:8%;
 }
.contributors
{ 
/*margin-top:-30%;*/
 }
.interview
{ 
margin-top:-30%;
margin-left: 241px;
 }





/*test styles*/
.news-thumb2
{ 
margin-left:7%;
 }

.article-news1
{ 
text-align:justify;
padding-right:5%;
 }

#h2
{ 
font-size:23px;
color:green;
 }
.home2
{ 

 }
.home-content
{ 
margin-left:24%;
margin-top:-71%;
 }
.home-img
{ 
width:415px;
 }
.media-heading
{
 font-size: 20px;
 font-weight:bold;

/*padding-right:5%;
margin-top:-1%;*/
 }
.media-body1
{ 
margin-left:49%;
margin-top:-50%;
padding-right:5%;
 }
.articles-img
{ 
width:285px;
 }

/*test style ends*/


/* Featured Articles List [BS3]
--------------------------------------------
* show the last 3 articles post
*/

.main-list { 
             padding-left: .5em;
             }

.main-list .media { 
                    padding-bottom: 1.1em;
                    border-bottom: 1px solid #e8e8e8;
                    }
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css');
@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

.panel-heading {
    cursor: pointer;
}

/* CSS Method for adding Font Awesome Chevron Icons */
 .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family:'FontAwesome';
    content:"\f077";
    float: right;
    color: inherit;
}
.panel-heading.collapsed .accordion-toggle:after {
    /* symbol for "collapsed" panels */
    content:"\f078";
                                                   }
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

li .dropdown .maintab: hover ul .dropdown-menu
{ display:block;
 }


