/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

.col-text {
    padding:0px 10px 0px 0px;
    width:18%;
margin-left:17%;
text-align:center;
color:rgb(1, 55, 40);
}

/*#homeTxt, #aboutTxt, #newsTxt {
margin-left:4em;
}
#contributorTxt{
  margin-left:2em;
}

#interviewTxt, #resourceTxt {
margin-left:2.5em;
}
#articleTxt {

margin-left:3.5em;
}
*/





/* image thumbnail */
.thumb { 
    display: block;
    width:100%;
    height:auto;
         /*width: 118%;
height: 235px;*/
         
}
/*
 #head-filler {
   background-image: url('/static/uploads/bg-head.png');
   margin-top:-2em;
   margin-left:-3em;
   margin-right:2em;
   padding-right:2em;
   height:53px;
 }
*/

.home
{ 
margin-top:-38%;
 }
/* main theme end */
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 28px;
}

.row {
  margin-right:auto;
  margin-left:auto;
  display:block;
}

#sidebar_menu li a, .sidebar-nav li a {
    display: block;
    float: left;
    text-decoration: none;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
    float:right;
   padding-right: 65px;
   padding-top:20px;
}
.sub_icon
{
    float:right;
   padding-right: 65px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}
/*side menu toffle end*/



a.list-group-item { 
    height:auto;
    min-height:220px;
                    }
a.list-group-item.active small { 
    color:#fff;
                                 }                      
.stars { 
    margin:20px auto 1px;    
         } 
.home1
{ 
/*margin-left:24%;
margin-top:-34%;*/
 }

 .csaFooter {
   margin-top:-45px;
   height:50px;

 }
.countries
{ 
font-size:20px;
color:blue;
 }
.countries1
{ 
font-size:20px;
 }

.subscribeForm
{ 
margin-left:auto;
margin-right:auto;
display:block;

 }
.tagCloud {
  margin-left:2em;
  

}

.article-news
{ 
/*margin-top:2%;*/
 }
.articles
{  
margin-top:-38%;
margin-left:12%;
 }

.articles1
{ 
margin-bottom:1%;
 }
.articles-text
{ 
margin-left:41%;
margin-top:-39%;
 }
.articles-image
{ 
margin-left:25%;
margin-top:-39%;
 }
.interview
{ 
  margin-top:-105%;
margin-left:326px;
text-align:justify;
 }
.form
{ 
margin-left:25%;
width:16%;
 }
.social
{ 
margin-left:41%;
margin-top:-3%;
 }
.contributors
{ 
/*margin-left:24%;
margin-top:-105%;*/
 }


.portfolio-img
{ 
width:150px;
height:200px;
 }
.portfolio
{ 
margin-left:25%;
margin-top:-105%;
 }
.portfolio-item2
{ 
margin-left:33%;
margin-top:-25%;
 }
.portfolio-item3
{ 
margin-left:66%;
margin-top:-25%;
 }
.portfolio2
{ 
margin-top:3%;
 }
.portfolio-item21
{ 
margin-left:25%;
 }
.portfolio-item22
{ 
margin-left:50%;
margin-top:-19%;
 }
.portfolio-item23
{ 
margin-left:75%;
margin-top:-19%;
 }

/* Style to article Author */
.by-author { 
             text-align:justify;
             line-height: 1.3;
             color: black;
             padding-left:5px;
             padding-right:5px;
             }

/* Main Article [Module]
-------------------------------------
* Featured Article Thumbnail
* have a image and a text title.
*/

.featured-article .block-title { 
                                 /* Position & Box Model */
                                 position: absolute;
                                 bottom: 0;
                                 left: 0;
                                 z-index: 1;
                                 /* background */
                                 background: rgba(0,0,0,0.7);
                                 /* Width/Height */
                                 padding: .5em;
                                 width: 100%;
                                 /* Text color */
                                 color: #fff;
                                 }

.featured-article .block-title h2 { 
                                    margin: 0;
                                    
                                    }

.nav-tabs>li>a
{ 
margin-right:20px;
font-weight:bold;
color:black;
 }

 
.media-body
{
  height:25em;
  margin-top:1em;
  margin-left:0em;
  margin-bottom:4em;
/*margin-left:28%;
margin-top:-50%;*/
 }





/*test styles*/
.news-thumb2
{ 
margin-left:7%;
 }

.article-news1
{ 
text-align:justify;
padding-right:5%;
 }

#h2
{ 
font-size:23px;
color:green;
 }
.I2
{ 

 }
.home-content
{ 
margin-left:24%;
margin-top:-71%;
 }
.home-img
{ 
width:415px;
 }
.media-heading
{
 font-size: 20px;
 font-weight:bold;

/*padding-right:5%;
margin-top:-1%;*/
 }
.media-body1
{ 
margin-left:49%;
margin-top:-50%;
padding-right:5%;
 }
.articles-img
{ 
width:285px;
 }

/*test style ends*/


/* Featured Articles List [BS3]
--------------------------------------------
* show the last 3 articles post
*/

.main-list { 
             padding-left: .5em;
             }

.main-list .media { 
                    padding-bottom: 1.1em;
                    border-bottom: 1px solid #e8e8e8;
                    }
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css');
@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

.panel-heading {
    cursor: pointer;
}

/* CSS Method for adding Font Awesome Chevron Icons */
 .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family:'FontAwesome';
    content:"\f077";
    float: right;
    color: inherit;
}
.panel-heading.collapsed .accordion-toggle:after {
    /* symbol for "collapsed" panels */
    content:"\f078";
                                                   }
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

li .dropdown .maintab: hover ul .dropdown-menu
{ display:block;
 }


