<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico"/>

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen">

    <link rel="stylesheet" href="/static/css/mouchak.css">
    <script src="/static/js/lib/modernizr-2.6.2.min.js"></script>

  <title> Climate South Asia </title>
<style >
html, body{
height:auto;
min-height:1000px;
border:1px solid black;
}

#container {
width:960px;
margin: 0px auto;
position:absolute;
border:1px solid black;
background: rgb(230, 212, 187);

}
</style>
  </head>
<body>
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    
  <div class="container" id="container">
    <div id="header">
      <div id="header-banner">
 <div class="head">
       <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3" id="head-filler"> </div>
       <div id="change-text" class="col-md-3 col-lg-3 col-xs-3 col-sm-3">Home</div>
  
   <div class="col-md-3 col-lg-3 col-sm-3  col-xs-3" id="searchForm">
    <form role="form" method="get" action="#search?q=">
    <div class="form-group">
  <div class="input-group custom-search-form">
              <input type="search" placeholder="Search" id="search-keyword" class="form-control">
              <!--span class="input-group-btn">
              <button class="btn btn-default" id="search-btn" type="submit">
              <span class="glyphicon glyphicon-search"></span>
             </button>
             </span-->
             </div>
             </div><!-- /input-group -->
             </form>
  </div> 
</div>
 
      </div>
<div id="navigation">
        <div role="navigation" class="col-md-3 col-lg-3 col-sm-3 col-xs-3" style="padding-left:0px">
 <div class="logo"><a href="#Home"><img src="/static/uploads/CSA_new_logo.png" width="100%" height="auto"></a>
 </div>
 <div id="sideWrap" class="navbar">
 <div class="side-nav navbar-inner">

 <!--a class="btn btn-navbar navbar-toggle pull-right" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-large icon-list "></span></a-->
      
         <div class="nav-collapse in">
<a href="#Home"><!--img src=" /static/uploads/Barnyard.jpg"  alt ="Home" class="navImg row"-->
<div class=" navWrap" id="homeImg">
<div class="navtext">Home
</div>
</div>
</a>


  
<a href="#About "><!--img  src=" /static/uploads/Ragi.JPG" alt="About us" class="navImg row"-->
<div class="navWrap" id="aboutImg"><div class="navtext"> About
</div>
</div>
</a>


<a href="#Articles"><!--img src=" /static/uploads/Bajra.jpg" alt="Articles" class="navImg row"-->
<div id="articleImg" class="navWrap"><div class="navtext">Articles
  </div>
</div>
</a>



<a href="#Interviews"><!--img  src=" /static/uploads/Proso.jpg" alt="Interviews" class="navImg row"-->
<div id="intImg" class="navWrap"><div class="navtext">Interviews
</div>
</div>
</a>


<a href="#News"><!--img  src=" /static/uploads/Kodo_millet.jpg" alt="News" class="navImg row"-->
<div id="newsImg" class="navWrap"><div class="navtext">News
  </div>
</div>
</a>


<a href="#Contributors"><!--img  src="/static/uploads/Foxtail.JPG" alt="Contributors" class="navImg row"-->
<div id="contriImg" class="navWrap"><div class="navtext">Contributors
</div>
</div>
</a>


<a href="#Resources"><!--img  src=" /static/uploads/Pearl_Millet.JPG" alt="Resources" class="navImg row"--> 
<div id="resourceImg" class="navWrap"><div class="navtext"> Resources
</div>
</div>
</a>
  </div>

<div class="contactBlock">
     <form class="row" action="MAILTO:" method="post" enctype="text/plain">
    <input type="text" class="subscribeForm row form-control" placeholder="Subscribe via email">
     </form>
 <div class="row"> <a href=""> <img class="socialIcons" src="/static/uploads/Twitter_bird_icon.png"></a> 
  <a href=""><img class="socialIcons" src="/static/uploads/facebook.icon.205x205.jpg"></a> 
  </div>
   </div>

   <div class="tagCloud">
   <div class="countries1">
     <p><a href="#" style="color:green">Agricultural</a>
     <a href="#" style="color:blue">Politics</a>
     <a href="#" style="color:brown">Social</a> 
     <a href="#" style="color:blue">Ecological</a>
     <a href="#" style="color:green">Communities</a>
     <a href="">Ecosystem</a> <a href="#" style="color:gray ; text-align:center">Health</a> 
     <a href="#" style="color:brown ; text-align:center">Energy</a>
   </p></div>

    <div class="countries">
       <p><a href="#" style="color:green">Afghanistan </a>
       <a style="color:blue" href="#">Nepal</a>
       <a style="color:brown" href="#">Maldivies </a> 
       <a href="#">Pakistan</a>
       <a style="color:green" href="#">India </a>
       <a style="color:gray" href="#">Bangladesh</a>
       <a style="color:blue" href="#">Srilanka</a>
   </p>
   </div>
   
   </div>
</div>
</div>
</div>

<!-- Navigation Menu Toggle 
        <div class ="col-md-3 col-lg-3 col-sm-3 col-xs-3 " id="wrapper" class="active">
         <div id="sidebar-wrapper" >
      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle" href="#"><span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
      </ul>
 <div class ="logo"><img  src ="/static/uploads/CSA_new_logo.png" width="100%" height="auto" >
 </div>
 <div id="sideWrap">
 <div class="side-nav  col-md-12 col-lg-12">
<div class="row"><a href ="#Home" class="col-md-12 col-lg-12"><img src=" /static/uploads/homeNew.png"  alt ="Home" class="navImg row">
<!--div class="navWrap well col-md-1 col-lg-1 col-xs-1 col-sm-1" id="homeTxt" >
<div class="navtext ">Home
</div>
</div>
</a>
</div>

  
<div class="row"><a href ="#About " class="col-md-12 col-lg-12"><img  src=" /static/uploads/about.png" alt="About us" class="navImg row">
<!--div class="navWrap well col-md-1 col-lg-1 col-xs-1 col-sm-1" id="aboutTxt"><div class="navtext "> About
</div>
</div>
</a>
</div>

<div class="row"><a href ="#Articles" class="col-md-12 col-lg-12"><img src=" /static/uploads/article.png" alt="Articles" class="navImg row">
<!--div id="articleTxt" class="navWrap well col-md-1 col-lg-1 col-xs-1 col-sm-1"><div class="navtext ">Articles
  </div>
</div>
</a>
</div>

<div class="row"><a href ="#Interviews" class="col-md-12 col-lg-12"><img  src=" /static/uploads/interviews.png" alt="Interviews" class="navImg row">
<!--div id="interviewTxt" class="navWrap well col-md-1 col-lg-1 col-xs-1 col-sm-1"><div class="navtext ">Interviews
</div>
</div>
</a>
</div>

<div class="row"><a href ="#News" class="col-md-12 col-lg-12"><img  src=" /static/uploads/news.png" alt="News" class="navImg row">
<!--div id="newsTxt" class="navWrap well col-md-1 col-lg-1 col-xs-1 col-sm-1  "><div class="navtext ">News
  </div>
</div>
</a>
</div>

<div class="row"><a href ="#Contributors" class="col-md-12 col-lg-12"><img  src=" /static/uploads/contributors.png" alt="Contributors" class="navImg row">
<!--div id="contributorTxt" class="navWrap well col-md-1 col-lg-1 col-xs-1 col-sm-1"><div class="navtext ">Contributors
</div>
</div>
</a>
</div>

<div class="row"><a href ="#Resources" class="col-md-12 col-lg-12"><img  src=" /static/uploads/resources.png" alt="Resources" class="navImg row"> 
<!--div id="resourceTxt" class="navWrap well col-md-1 col-lg-1 col-xs-1 col-sm-1 "><div class="navtext "> Resources
</div>
</div>
</a>
</div>
</div>
</div>
<div class="contactBlock">
     <form class="row"  action="MAILTO:" method="post" enctype="text/plain">
    <input type="text" class="subscribeForm row form-control"  placeholder="Subscribe via email">
     </form>
 <div class="row"> <a href=""  class="col-md-6" > <img src = "/static/uploads/Twitter_bird_icon.png" width="35" height ="35" style ="margin-left:125px"></a> 
  <a  href ="" class="col-md-6"><img src = "/static/uploads/facebook.icon.205x205.jpg" width="25" height ="25"></a> 
  </div>
   </div>
  
   <div class="tagCloud">
   <div class ="countries1">
     <p><a href ="#" style="color:green">Agricultural</a>
     <a href ="#"style="color:blue">Politics</a>
     <a href ="#" style="color:brown">Social</a> 
     <a href ="#"style="color:blue">Ecological</a>
     <a href ="#" style="color:green">Communities</a>
     <a href="">Ecosystem</a> <a href ="#"style="color:gray ; text-align:center">Health</a> 
     <a href ="#" style="color:brown ; text-align:center">Energy</a>
   </div>

    <div class = "countries">
       <p><a href ="#" style="color:green">Afghanistan </a>
       <a style="color:blue"href ="#">Nepal</a>
       <a style="color:brown" href ="#">Maldivies </a> 
       <a href ="#">Pakistan</a>
       <a style="color:green" href ="#">India </a>
       <a style="color:gray" href ="#">Bangladesh</a>
       <a style="color:blue" href ="#">Srilanka</a>
   </p>
   </div>
</div>
</div>
</div>--></div>
</body>
</html>
